@{
}
<div class="text-center" style="height:628px">
    <h1>O Nas</h1><br>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <p>
                Firma specjalizuje się w szeroko pojmowanej obsłudze IT, świadczonej głównie dla sektora małych i średnich przedsiębiorstw oraz klientów indywidualnych.
                Zakres naszej oferty jest kompleksowy, a realizowane przez nas usługi informatyczne są zawsze na najwyższym poziomie. Analizujemy potrzeby Klienta i prezentujemy kilka
                wariantów technologii oraz narzędzi, które są najlepszym rozwiązaniem dla jego biznesu.<br />
                Powierzenie nam zadań z zakresu IT, to nie tylko oszczędność, ale przede wszystkim możliwość skupienia się w pełni na prowadzeniu biznesu.
                Usługi informatyczne realizowane przez naszą firmę to doskonały wybór. Nie zwlekaj i skorzystaj z usług certyfikowanych specjalistów z wieloletnim doświadczeniem w branży.
            </p>
        </div>
        <div class="col">
        </div>
  
    </div>
    <img src="~/images/serwis.jpg" class="img-fluid" alt="nima" style="width:700px; height:400px;">
</div>

