@{
}
<div class="text-center mb-5">
    <h1>Oferty</h1>
</div>
<div class="container text-left">
    <div class="row">
        <div class="col">
            <h3>Serwis komputerowy</h3><br />
            Diagnoza, naprawa oraz konserwacja komputerów i laptopów.<br />
            <ul>
                <li>Diagnostyka sprzętu</li>
                <li>Naprawa konputerów </li>
                <li>Naprawa drukarek</li>
                <li>Pomoc przy zakupie laptopa badź komputera</li>
                <li>Czyszczenie i konserwacja systemów chłodzenia laptopa</li>
                <li>Wymiana podzespołów</li>
                <li>Modernizacja sprzętu</li>
                <li>Wymiana past oraz taśm termoprzewodzących układu chłodzenia</li>
            </ul>
        </div>
        <div class="col">
            <img src="~/images/naprawa.png" class="img-fluid" alt="nima">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <img src="~/images/dysk.jpg" class="img-fluid" alt="nima">
        </div>
        <div class="col">
            <h3>Dodatkowe usługi</h3><br />
            Podejmiemy się każdego zadania związanego z IT.<br />
            <ul>
                <li>Odzyskiwanie danych</li>
                <li>Składanie komputerów do określonych wymagań klienta</li>
                <li>Zdejmowanie zabezpieczeń</li>
                <li>Audyt infrastruktury informatycznej</li>
                <li>Tworzenie stron internetowych</li>
            </ul>
        </div> 
    </div>
</div>